/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

@font-face {
    font-family: "roboto";
    src: url("fonts/Roboto-Regular.ttf") format("opentype");   
    }

@font-face {
    font-family: "roboto-condensed";
    src: url("fonts/RobotoCondensed-Regular.ttf") format("opentype");   
    }

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#fff;
    /*background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;*/
    font-family: "roboto",'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    text-rendering: optimizelegibility;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    /*text-transform:uppercase;*/
    width:100%;
}

/* Portrait layout (default) */
.app {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:2em;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
    color: #fff;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

.header h1{
    text-align: left;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 1.8em;
}

.header{
    background-color: #297fb8 !important;
    height: 50px;
    position: fixed !important;
    width: 100%;
}
.ui-title{
    text-shadow: none !important;
    font-size: 1.5em !important;
}
.ui-content {
    border-width: 0;
    overflow: visible;
    overflow-x: hidden;
    padding: 0 !important;
    background-color: #fff;
    margin-top: 50px;
}
.ui-bar-a, .ui-page-theme-a .ui-bar-inherit, html .ui-bar-a .ui-bar-inherit, html .ui-body-a .ui-bar-inherit, html body .ui-group-theme-a .ui-bar-inherit {
    text-shadow: 0 !important;
}
.ui-header, .ui-footer {
    /* border-width: 1px 0; */
    border-style: none !important;
    position: relative;
}
.ui-body-a, .ui-page-theme-a .ui-body-inherit, html .ui-bar-a .ui-body-inherit, html .ui-body-a .ui-body-inherit, html body .ui-group-theme-a .ui-body-inherit, html .ui-panel-page-container-a {
    text-shadow: none !important;
}
input, input[type="password"]{
    border: none;
    /*border-bottom: solid 1px #333232;*/
    height: 30px;
    padding: 5px 10px;
}
input{
    width: 93%;
    font-size: 14px;
    font-size: 14px;
    margin: 5px auto;
}
.ui-shadow-inset{
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}
.showMenu{
    background: url(../img/menu.png) !important;
    width: 45px !important;
    height: 32px !important;
    border: none !important;
    padding: 0 !important;
}
#menu-list{
    padding-left: 10px;
}
#menu-list li{
    list-style: none;
    padding-bottom: 10px;
}
#menu-list h1{
    text-align: left;
    font-weight: 100;
}
#menu-list a{
    text-decoration: none;
}
#menu{
    background-color: #48647c;
}
.ui-mobile .ui-page-active {
    background-color: #fff;
}
#action-list, #friend-list{
    margin-top: 85px;

}
#welcome{
    padding: 20px 0 0 0;  
    overflow: auto;
    background-color: #297fb8 !important;
    color: #fff;
    position: fixed;
    width: 100%;
}

#profile-welcome{
    padding: 20px 0 0 0;  
    overflow: auto;
    background-color: #fff !important;
    color: #000;
}

#user-img{
    padding-left: 15px;
    float: left;
    padding-right: 10px;
}

#user-img img {
    display: block
}

#profile-img {
    width: 123px;
    height: 88px;
    padding-left: 15px;
    float: left;
    padding-right: 10px;
}
#profile-img img{
    width: 123px;
    height: 88px;
}

#profile-welcome-message{
    width: 85%;
    margin: 0 auto 15px auto;
}

#welcome-message{
    width: 85%;
    margin: 0 auto 25px auto;
}

#profile-welcome-message h1{
    color: #000;
    text-align: left;
}

#welcome-message h1{
    color: #fff;
    text-align: left;
}
#welcome-message h2{
    color: #fff;
    font-weight: normal;
    -webkit-margin-before: 0px;
}

#welcome-message h2 a{
    color: #df5a49;
    text-decoration: none;
}

.home_but{
    padding: 4em 15px;
}

.dynamic{
    /*text-align: right;
    float: right;*/
    /*font-family: "roboto-condensed",'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;*/
  /*  padding-top: 14px;*/
    padding: 15px 0px 5px 0px;
}

.profile-dynamic{
    text-align: right;
    font-family: "roboto-condensed",'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size: 2.6em;
    margin-top: -3px;
    float: right;
}

.profile-head{
    text-align: left;
    float: left;
}
.profile-stat{
    height: 30px;
    padding: 40px 20px;
}
.home_but h1{
    /*text-align: left;*/
    padding-bottom: 15px;
}
.newsuserimage{
    width: 58px;
    height: 52px;
}
.news-image{
    float: left;
}
#newsfeed{
    padding-top: 5px;
    margin-top: 240px;
}
.status{
    padding-left: 67px;
    font-size: 15px;
}
.time{
    font-size: 12px;
    font-style: italic;
    padding-top: 3px;
}
#newstitle{
    width: 80%;
    margin: 10px auto;
    text-decoration: underline;
    font-weight: lighter;
    font-size: 18px;
}
.news{
    width: 80%;
    margin: 0 auto 5px auto;
}
.source{
    text-align: right;
    color: #df5a49;
}
a {
color: #df5a49;
text-decoration: none;
}
.line{
    width: 90%;
    border-bottom: solid 1px #dbdbdb;
    height: 1px;
    margin: 0 auto;
    margin-top: 8px;
    margin-bottom: 10px;
}
#footprint{
    background-color: #1e6a9d;
    width: 50%;
    float: left;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 10px;
    border-right: solid 1px #297fb8;
   -moz-box-sizing:    border-box;
   -webkit-box-sizing: border-box;
    box-sizing:        border-box;
}
#reductions{
    background-color: #1e6a9d;
    width: 50%;
    float: right;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 10px;
    border-left: solid 1px #297fb8;
   -moz-box-sizing:    border-box;
   -webkit-box-sizing: border-box;
    box-sizing:        border-box;
}
#actions{
    background-color: #efc94c;
}
#friends{
    background-color: #45b29d;
}
#badges{
    background-color: #528aab;
}
#journey{
    background-color: #334d5c;
}


#profile-footprint{
    background-color: #339fe6;
}
#profile-reductions{
    background-color: #3293d3;
}
#profile-actions{
    background-color: #2980b9;
}
#profile-friends{
    background-color: #1e6a9d;
}
#profile-badges{
    background-color: #185680;
}
#profile-journey{
    background-color: #334d5c;
}
/*CALCULATOR PAGE*/
.ui-checkbox input, .ui-radio input {
position: absolute;
left: .466em;
top: 50%;
width: 22px;
height: 22px;
margin: -11px 0 0 0;
outline: 0!important;
z-index: 1;
}
.ui-controlgroup-controls, .ui-controlgroup-controls .ui-radio, .ui-controlgroup-controls .ui-checkbox, .ui-controlgroup-controls .ui-select, .ui-controlgroup-controls li {
-webkit-border-radius: inherit;
border-radius: inherit;
}
.ui-controlgroup-controls .ui-btn, .ui-controlgroup-controls .ui-checkbox, .ui-controlgroup-controls .ui-radio, .ui-controlgroup-controls .ui-select {
margin: 0;
}
.ui-controlgroup-vertical .ui-btn.ui-first-child {
-webkit-border-top-left-radius: inherit;
border-top-left-radius: inherit;
-webkit-border-top-right-radius: inherit;
border-top-right-radius: inherit;
}
.ui-checkbox, .ui-radio {
margin: .5em 0;
position: relative;
}
.ui-controlgroup-controls .ui-btn-corner-all, .ui-controlgroup-controls .ui-btn.ui-corner-all {
-webkit-border-radius: 0;
border-radius: 0;
}
.ui-controlgroup-vertical .ui-controlgroup-controls .ui-btn {
border-bottom-width: 0;
}
.ui-checkbox .ui-btn, .ui-radio .ui-btn {
margin: 0;
text-align: left;
white-space: normal;
z-index: 2;
}
.ui-checkbox-off:after, .ui-btn.ui-radio-off:after {
filter: Alpha(Opacity=30);
opacity: .3;
}
.ui-btn.ui-checkbox-off:after, .ui-btn.ui-checkbox-on:after, .ui-btn.ui-radio-off:after, .ui-btn.ui-radio-on:after {
display: block;
width: 18px;
height: 18px;
margin: -9px 2px 0 2px;
}
.ui-btn-icon-left:after {
left: .5625em;
}.ui-btn-icon-notext:after, .ui-btn-icon-left:after, .ui-btn-icon-right:after {
top: 50%;
margin-top: -11px;
}
.ui-btn-icon-left:after, .ui-btn-icon-right:after, .ui-btn-icon-top:after, .ui-btn-icon-bottom:after, .ui-btn-icon-notext:after {
content: "";
position: absolute;
display: block;
width: 22px;
height: 22px;
}
.ui-btn-icon-left:after, .ui-btn-icon-right:after, .ui-btn-icon-top:after, .ui-btn-icon-bottom:after, .ui-btn-icon-notext:after {
background-color: #666;
background-color: rgba(0,0,0,.3);
background-position: center center;
background-repeat: no-repeat;
-webkit-border-radius: 1em;
border-radius: 1em;
}
.ui-page-theme-a .ui-radio-on:after, html .ui-bar-a .ui-radio-on:after, html .ui-body-a .ui-radio-on:after, html body .ui-group-theme-a .ui-radio-on:after, .ui-btn.ui-radio-on.ui-btn-a:after {
border-color: #38c;
}
.ui-radio .ui-btn.ui-radio-on:after {
background-image: none;
background-color: #fff;
width: 8px;
height: 8px;
border-width: 5px;
border-style: solid;
}
.ui-page-theme-a .ui-btn:hover, html .ui-bar-a .ui-btn:hover, html .ui-body-a .ui-btn:hover, html body .ui-group-theme-a .ui-btn:hover, html head+body .ui-btn.ui-btn-a:hover {
background: #ededed;
border-color: #ddd;
color: #333;
text-shadow: 0 1px 0 #f3f3f3;
}
.ui-page-theme-a .ui-btn:hover, html .ui-bar-a .ui-btn:hover, html .ui-body-a .ui-btn:hover, html body .ui-group-theme-a .ui-btn:hover, html head+body .ui-btn.ui-btn-a:hover {
background: #ededed;
border-color: #ddd;
color: #333;
text-shadow: 0 1px 0 #f3f3f3;
}

div.ui-slider {
height: 30px;
margin: .5em 0;
padding: 0;
-ms-touch-action: pan-y pinch-zoom double-tap-zoom;
}
div.ui-slider:before, div.ui-slider:after {
content: "";
display: table;
}
.ui-body-a, .ui-page-theme-a .ui-body-inherit, html .ui-bar-a .ui-body-inherit, html .ui-body-a .ui-body-inherit, html body .ui-group-theme-a .ui-body-inherit, html .ui-panel-page-container-a {
background: #fff;
border-color: #ddd;
color: #333;
text-shadow: 0 1px 0 #f3f3f3;
}
input.ui-slider-input {
display: block;
float: left;
font-size: 14px;
font-weight: 700;
margin: 0;
padding: 4px;
width: 40px;
height: 20px;
line-height: 20px;
border-width: 1px;
border-style: solid;
outline: 0;
text-align: center;
vertical-align: text-bottom;
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
-webkit-box-sizing: content-box;
-moz-box-sizing: content-box;
-ms-box-sizing: content-box;
box-sizing: content-box;
}
.ui-shadow-inset {
-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,.2);
-moz-box-shadow: inset 0 1px 3px rgba(0,0,0,.2);
box-shadow: inset 0 1px 3px rgba(0,0,0,.2);
}
.ui-corner-all {
-webkit-border-radius: .3125em;
border-radius: .3125em;
}
.ui-bar-a, .ui-page-theme-a .ui-bar-inherit, html .ui-bar-a .ui-bar-inherit, html .ui-body-a .ui-bar-inherit, html body .ui-group-theme-a .ui-bar-inherit {
background: #e9e9e9;
border-color: #ddd;
color: #333;
text-shadow: 0 1px 0 #eee;
font-weight: 700;
}
.ui-btn-corner-all, .ui-btn.ui-corner-all, .ui-slider-track.ui-corner-all, .ui-flipswitch.ui-corner-all, .ui-li-count {
-webkit-border-radius: .3125em;
border-radius: .3125em;
}
.ui-slider-track {
position: relative;
overflow: visible;
border-width: 1px;
border-style: solid;
height: 15px;
margin: 0 15px 0 68px;
top: 6px;
}
.ui-shadow-inset {
-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,.2);
-moz-box-shadow: inset 0 1px 3px rgba(0,0,0,.2);
box-shadow: inset 0 1px 3px rgba(0,0,0,.2);
}
.ui-slider-track .ui-btn.ui-slider-handle {
font-size: .9em;
line-height: 30px;
}
.ui-slider-track .ui-btn.ui-slider-handle {
position: absolute;
z-index: 1;
top: 50%;
width: 28px;
height: 28px;
margin: -15px 0 0 -15px;
outline: 0;
padding: 0;
}
.ui-page-theme-a .ui-btn, html .ui-bar-a .ui-btn, html .ui-body-a .ui-btn, html body .ui-group-theme-a .ui-btn, html head+body .ui-btn.ui-btn-a, .ui-page-theme-a .ui-btn:visited, html .ui-bar-a .ui-btn:visited, html .ui-body-a .ui-btn:visited, html body .ui-group-theme-a .ui-btn:visited, html head+body .ui-btn.ui-btn-a:visited {
background: #f6f6f6;
border-color: #ddd;
color: #333;
text-shadow: 0 1px 0 #f3f3f3;
}
.ui-btn:link {
text-decoration: none!important;
}
.ui-btn {
font-size: 16px;
margin: .5em 0;
padding: .7em 1em;
display: block;
position: relative;
text-align: center;
text-overflow: ellipsis;
overflow: hidden;
white-space: nowrap;
cursor: pointer;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}
.ui-shadow {
-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.15);
-moz-box-shadow: 0 1px 3px rgba(0,0,0,.15);
box-shadow: 0 1px 3px rgba(0,0,0,.15);
}
.ui-btn, label.ui-btn {
font-weight: 700;
border-width: 1px;
border-style: solid;
}

.answers li{
    list-style: none;
}

/* ACTIONS LIST PAGE */
#succesfully-added{
    border: 1px solid #000;
    text-align: center;
    width: 95%;
    height:100px;
    display: none;
    position: absolute;
    top: 50%;
    background-color: #eee;
    margin: 0 auto;
}

#action-links{
    background-color: #1e6a9d;
    height: 70px;
    padding-left: 0px;
    margin-top: 0 !important;
    position: fixed;
    width: 100%;
}
#action-links a{
    color: #fff;
    text-decoration: none;
}
#action-links li{
    width: 33.3%;
    float: left;
    list-style: none;
}
#all-actions{
    background: url(../img/all.png) 50% 12px no-repeat;
    height: 70px;
    padding-top: 47px;
    text-align: center;
    border-right: solid 1px #297fb8;
   -moz-box-sizing:    border-box;
   -webkit-box-sizing: border-box;
    box-sizing:        border-box;
}
#current-actions{
    background: url(../img/current.png) 50% 12px no-repeat;
    height: 70px;
    padding-top: 47px;
    text-align: center;
    border-right: solid 1px #297fb8;
   -moz-box-sizing:    border-box;
   -webkit-box-sizing: border-box;
    box-sizing:        border-box;
}
#completed-actions{
    background: url(../img/completed.png) 50% 12px no-repeat;
    padding-top: 47px;
    text-align: center;
}
.active-action{
    background-color: #13537f !important;
}
.action{
    border: solid 1px #dbdbdb;
    margin: 15px;
}

.action-category.Home{
    background-color: #669900;
    display: block;
    color: #fff;
    font-size: 14px;
    padding-left: 5px;
}
.action-title{
    padding-top: 15px;
    padding-bottom: 15px; 
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
}
.action-links-container{
    background-color: #f2f2f2;
    display: block;
    padding: 20px 0px 10px;
}
.action-links{
    margin: 0 auto;
    width: 313px;
}
.action-links a{
    text-decoration: none;
    color: #000;
}
.action-add{
    background: url(../img/add.png) no-repeat;
    height: 32px;
    padding: 10px 38px;
}
.action-complete{
    background: url(../img/complete.png) no-repeat;
    height: 32px;
    padding: 10px 38px;
}
.action-remove{
    background: url(../img/delete.png) no-repeat;
    height: 32px;
    padding: 10px 38px;
}
.successful-added{
    background: url(../img/complete.png) no-repeat;
    padding: 6px 0 6px 40px;
    font-size: 1.5em;
    margin: 0 auto;
    width: 199px;
}
.successful-completed{
    background: url(../img/complete.png) no-repeat;
    padding: 6px 0 6px 37px;
    font-size: 1.5em;
    margin: 0 auto;
    width: 223px;
}
.calendar-add{
    background: url(../img/calendar.png) no-repeat;
    padding: 6px 0 6px 40px;
    font-size: 1.5em;
    margin: 15px auto 0;
    width: 199px;
}
.calendar-add-list{
    background: url(../img/calendar.png) no-repeat;
    padding: 9px 0 13px 40px;
    margin: 26px auto 0;
    width: 121px;
}
.calendar-add-list a{
    color: #000;
}
/* FRIENDS */
.user{
    border: solid 1px #dbdbdb;
    margin: 15px;
    padding: 20px 10px 20px 10px;
    margin-bottom: 0px;
    margin-top: 0px;
}
.FP{
    float: right;
    margin-top: -32px;
    font-size: 30px;
}
.rank{
    float: left;
    color: #dbdbdb;
    font-size: 50px;
}
.friends-image {
    float: left;
    padding-left: 10px;
}
.name{
    padding-top: 14px;
    font-size: 24px;
    padding-left: 106px;
}
.name a{
    color: #000;
}
#friend-list h3, #uncomfirmed-list h3{
    text-align: center;
    font-size: 17px;
}
#friend-search{
    background: url(../img/search.png) 50% 12px no-repeat;
    height: 70px;
    padding-top: 47px;
    text-align: center;
    border-right: solid 1px #297fb8;
   -moz-box-sizing:    border-box;
   -webkit-box-sizing: border-box;
    box-sizing:        border-box;
}
#fb{
    background: url(../img/fb.png) 50% 12px no-repeat;
    height: 70px;
    padding-top: 47px;
    text-align: center;
    border-right: solid 1px #297fb8;
   -moz-box-sizing:    border-box;
   -webkit-box-sizing: border-box;
    box-sizing:        border-box;
}


.addfriend{
    background: url(../img/add.png) no-repeat;
    height: 32px;
    padding: 10px 38px; 
}

.acceptfriend{
    background: url(../img/complete.png) no-repeat;
    height: 32px;
    padding: 10px 38px; 
}

/* BADGES */
.badges{
    border: solid 1px #dbdbdb;
    margin: 15px;
    height: 80px;
    padding-top: 10px;
    padding-left: 5px;
}
.badge0{
    color: #dbdbdb;
}
.badge1{
    color: #000;
}
.badge-title {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 87px;
    padding-right: 10px;
    font-size: 20px;
}
.badge-image{
    float: left;
}
form h1{
    color: #000;
    margin-bottom: 20px;
}

/*LOGIN PAGE */
#login, #login-content, #sign-content{
    background-color: #297fb8;
    margin-top: 0px !important;
}
#loginForm h2{
    text-align: center;
    color: #fff;
    font-size: 18px;
    width: 100%; 
   text-align: center; 
   border-bottom: 2px solid #fff; 
   line-height: 0.1em;
   margin: 33px 0 20px;
}
#loginForm h2 span{
    background:#297fb8; 
    padding:0 15px; 
}
#loginForm, #signForm{
    width: 60% !important;
    margin: 20% auto 0 auto !important;
}
#passwordForm{
    width: 60% !important;
    margin: 8% auto 0 auto !important;
}
#loginForm h1{
    padding-bottom: 10px;
    color: #fff !important;
}
#logo{
    background: url(../img/logo.png) no-repeat;
    width: 129px;
    height: 48px;
    margin: 35px auto;
}
#signButton{
    background-color: #16b312;
    color: white;
    padding: 10px 30px;
    font-size: 18px;
}
#logbutt{
    margin: 20px auto;
    text-align: center; 
}
#fb-sign{
    text-align: center;
}
#signupstrip{
    bottom: 0;
    position: absolute;
    background-color: #c64b3c;
    width: 100%;
    padding: 10px 0;
    color: #fff;
    text-align: center;
    font-size: 18px;
}
.bold{
    font-weight: bold;
}
.ui-loader-default{
    display: none;
}

#cross{
    float: left;
}
#failureText h1{
    font-size: 14px;    
    color: #fff;
}

/* SETTINGS PAGE*/
#settings-list li{
    list-style-type: none;
    margin-bottom: 13px;
}
#settings-list a{
    color: #000;
    font-size: 18px;
    margin-bottom: 13px;    
}


#uncomfirmed-list{
    margin-top: 85px;
}


/*SEARCH FRIENDS*/
#userSearchForm{
    margin-top: 85px;
}
.searchname{
    padding-top: 0px !important;
    margin-bottom: 12px;
}
.addfriend{
    margin-left: 23px;
}
.newuserfriendimage{
    width: 72px !important;
height: 63px !important;
}
